*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#1a1d23;
    color:white;
}

/* BARRA DE NAVEGAÇÃO */

.barra-navegacao{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 5%;
}

.logo img{
    height:45px;
}

.icones-navegacao img{
    width:70px;
    margin-left:20px;
    cursor:pointer;
}

/* BANNER */

.banner-principal{
    background:#21262d;
    margin:20px 5%;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.banner-principal img{
    width:100%;
    border-radius:10px;
}

/* PRODUTOS */

.grade-produtos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:40px 5%;
}

.card-produto{
    background:#21262d;
    padding:20px;
    border-radius:12px;
    text-align:center;

    width:calc(33.333% - 20px);
    min-width:280px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.card-produto img{
    height:180px;
    object-fit:contain;
    margin-bottom:15px;
}

.card-produto h3{
    font-size:16px;
}

.preco-antigo{
    text-decoration:line-through;
    color:#8b949e;
    font-size:14px;
}

.preco-novo{
    color:#00ff88;
    font-size:20px;
    font-weight:bold;
    margin:10px 0;
}

.botao-carrinho{
    background:#00ff88;
    color:black;
    border:none;
    padding:12px;
    width:100%;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

.botao-carrinho:hover{
    background:#00cc6a;
}

/* RODAPÉ */

.rodape{
    background:linear-gradient(to bottom,#1f2733,#020611);
    padding:60px 5%;
}

/* TOPO DO RODAPÉ */

.rodape-topo{
    text-align:center;
    margin-bottom:50px;
}

.logo-rodape{
    color:#00ff88;
    letter-spacing:6px;
    font-size:28px;
    margin-bottom:15px;
}

.rodape-topo p{
    color:#c9d1d9;
    font-size:18px;
}

/* COLUNAS DO RODAPÉ */

.container-rodape{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.coluna-rodape{
    min-width:200px;
}

.coluna-rodape h3{
    font-size:24px;
    margin-bottom:20px;
}

.coluna-rodape ul{
    list-style:none;
}

.coluna-rodape li{
    margin-bottom:15px;
}

.coluna-rodape a{
    text-decoration:none;
    color:#c9d1d9;
    font-size:18px;
}

.coluna-rodape a:hover{
    color:#00ff88;
}

/* ÍCONES SOCIAIS */

.icones-sociais{
    margin-top:20px;
}

.icones-sociais img{
    width:40px;
    margin-right:10px;
    cursor:pointer;
}

/* FORMAS DE PAGAMENTO */

.icones-pagamento{
    display:grid;
    grid-template-columns:repeat(2,60px);
    gap:15px;
    margin-top:20px;
}

.icones-pagamento img{
    width:60px;
}